body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(84,28,218,1) 31%, rgba(252,70,107,1) 100%);
  color: #fff; /* Цвет текста белый */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* Легкая прозрачность для контейнера */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Тень для контейнера */
}

h1 {
  color: #3498db; /* Цвет заголовка подчеркнут синим из градиента фона */
}
